In [6]:
#importando o pandas
import pandas as pd

In [16]:
#carregando arquivo csv
df = pd.read_csv('2018.csv', sep=';', encoding='latin1', skiprows=1, decimal=',')

In [17]:
#vamos visualizar os 5 primeiros registros do dataframe
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2018,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,NaN,02/01/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00
1,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,M2CJMM,02/01/2018,"Companhia Aérea: AVIANCA, Localizador: M2CJMM....",274.99
2,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,SFEXYF,02/01/2018,"Companhia Aérea: LATAM, Localizador: SFEXYF. P...",1094.29
3,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,V64HTR,24/01/2018,"Companhia Aérea: AZUL, Localizador: V64HTR. Pa...",1553.99
4,2018,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/18,01/02/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00

In [18]:
#Verificando o tipo e o tamanho do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24492 entries, 0 to 24491
Data columns (total 10 columns):
ANO                  24492 non-null int64
MES                  24492 non-null int64
SENADOR              24492 non-null object
TIPO_DESPESA         24492 non-null object
CNPJ_CPF             24492 non-null object
FORNECEDOR           24492 non-null object
DOCUMENTO            23476 non-null object
DATA                 24492 non-null object
DETALHAMENTO         18882 non-null object
VALOR_REEMBOLSADO    24492 non-null float64
dtypes: float64(1), int64(2), object(7)
memory usage: 1.9+ MB

In [19]:
# Análise descritiva simples dos dados quantitativos
df.describe()

           ANO           MES  VALOR_REEMBOLSADO
count  24492.0  24492.000000       24492.000000
mean    2018.0      6.192226        1045.431215
std        0.0      3.305847        2718.840577
min     2018.0      1.000000           0.010000
25%     2018.0      3.000000         125.000000
50%     2018.0      6.000000         287.200000
75%     2018.0      9.000000        1032.005000
max     2018.0     12.000000      103900.000000

In [20]:
#Análise descritiva dos campos textuais
df.describe(include='object')

,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO
count,24492,24492,24492,24492,23476,24492,18882
unique,91,7,3550,3933,21196,476,10238
top,EDUARDO LOPES,"Locomoção, hospedagem, alimentação, combustíve...",16.978.175/0001-08,LATAM,s/n,02/05/2018,Aquisição de combustível para veículos utiliza...
freq,864,10147,1833,615,158,159,563

In [23]:
#Qual o valor total gasto pelos senadores em 2018
df['VALOR_REEMBOLSADO'].sum()

25604701.33

In [24]:
#Qual o maior valor reembolsado
df['VALOR_REEMBOLSADO'].max()

103900.0

In [25]:
#Quais as informações completas do maior valor reembolsado
df[df['VALOR_REEMBOLSADO']==df['VALOR_REEMBOLSADO'].max()]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
21225,2018,12,ROSE DE FREITAS,Divulgação da atividade parlamentar,05.461.408/0001-84,Grafitusa S/A,000009681,29/03/2019,NaN,103900.0

In [26]:
#Quais as informações completas do menor valor reembolsado
df[df['VALOR_REEMBOLSADO']==df['VALOR_REEMBOLSADO'].min()]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
3868,2018,5,DÁRIO BERGER,"Passagens aéreas, aquáticas e terrestres nacio...",02.575.829/0001-48,AVIANCA BRASIL,K5RKJV,29/05/2018,"Companhia Aérea: AVIANCA, Localizador: K5RKJV....",0.01
10161,2018,3,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,W4UUE7,21/03/2018,"Companhia Aérea: LATAM, Localizador: W4UUE7. P...",0.01
10191,2018,4,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",07.575.651/0001-59,GOL TRANSPORTES AÉREOS S/A,ZHV36P,09/03/2018,"Companhia Aérea: GOL, Localizador: ZHV36P. Pas...",0.01
10196,2018,4,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,W6ZMK3,17/04/2018,"Companhia Aérea: LATAM, Localizador: W6ZMK3. P...",0.01
10233,2018,5,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,OZALEF,22/05/2018,"Companhia Aérea: LATAM, Localizador: OZALEF. P...",0.01
10261,2018,6,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,DZHABV,22/05/2018,"Companhia Aérea: LATAM, Localizador: DZHABV. P...",0.01
10383,2018,11,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,ZZIIXN,13/11/2018,"Companhia Aérea: LATAM, Localizador: ZZIIXN. P...",0.01

In [27]:
df.nlargest(5, 'VALOR_REEMBOLSADO')

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
21225,2018,12,ROSE DE FREITAS,Divulgação da atividade parlamentar,05.461.408/0001-84,Grafitusa S/A,000009681,29/03/2019,NaN,103900.0
21488,2018,11,SÉRGIO PETECÃO,"Contratação de consultorias, assessorias, pesq...",22.233.033/0001-14,Reis Grafica e Comercio de Etiquetas Eireli ME,4193,29/11/2018,NaN,102000.0
21491,2018,12,SÉRGIO PETECÃO,"Contratação de consultorias, assessorias, pesq...",22.233.033/0001-14,Reis Grafica e Comercio de Etiquetas Eireli ME,000004252,17/12/2018,NaN,102000.0
22666,2018,12,VANESSA GRAZZIOTIN,"Contratação de consultorias, assessorias, pesq...",28.916.527/0001-80,A MAQUINA SOLUCOES EM MIDIA LTDA ME,048,17/12/2018,TRABALHOS TÉCNICOS DE APOIO AO EXERCICIO DO MA...,100000.0
5573,2018,12,EDUARDO LOPES,Divulgação da atividade parlamentar,14.616.988/0001-22,NG Comunicação Visual Ltda,00000714,05/12/2018,NaN,66000.0

In [29]:
#Quantos pedidos cada senador fez
df['SENADOR'].value_counts()

EDUARDO LOPES                    864
PAULO BAUER                      824
WELLINGTON FAGUNDES              800
JOSÉ SERRA                       715
GLEISI HOFFMANN                  653
HUMBERTO COSTA                   648
LÍDICE DA MATA                   628
JOSÉ MEDEIROS                    598
FERNANDO BEZERRA COELHO          560
ARMANDO MONTEIRO                 550
PAULO PAIM                       547
JOÃO CAPIBERIBE                  539
ANA AMÉLIA                       495
RONALDO CAIADO                   486
JOSÉ PIMENTEL                    477
PEDRO CHAVES DOS SANTOS FILHO    440
EDUARDO AMORIM                   438
ROBERTO REQUIÃO                  436
PAULO ROCHA                      424
ROMERO JUCÁ                      415
FÁTIMA BEZERRA                   407
MARTA SUPLICY                    398
ROBERTO MUNIZ                    380
ZEZÉ PERRELLA                    371
WALDEMIR MOKA                    370
AIRTON SANDOVAL                  363
CÁSSIO CUNHA LIMA                362
DALIRIO BEBER                    361
JORGE VIANA                      356
VANESSA GRAZZIOTIN               350
                                ...
EDUARDO BRAGA                    133
OTTO ALENCAR                     132
MARIA DO CARMO ALVES             129
JOÃO ALBERTO SOUZA               125
ANTÔNIO CARLOS VALADARES         117
ACIR GURGACZ                     114
PASTOR BEL                       113
DAVI ALCOLUMBRE                  112
RUDSON LEITE                     111
HÉLIO JOSÉ                       109
JOSÉ AMAURI                      101
REDITARIO CASSOL                  87
GUARACY SILVEIRA                  79
SÉRGIO PETECÃO                    75
KÁTIA ABREU                       72
SÉRGIO DE CASTRO                  66
RODRIGUES PALMA                   62
GIVAGO TENÓRIO                    57
WALTER PINHEIRO                   51
VICENTINHO ALVES                  51
EDISON LOBÃO                      49
ELBER BATALHA                     47
TASSO JEREISSATI                  44
IONE GUIMARÃES                    44
OMAR AZIZ                         42
ALVARO DIAS                       40
FERNANDO COLLOR                   27
JADER BARBALHO                    19
CRISTOVAM BUARQUE                 16
ZÉ SANTANA                         8
Name: SENADOR, Length: 91, dtype: int64

In [30]:
#Quantos reembolsos por tipo de despesa
df['TIPO_DESPESA'].value_counts()

Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   10147
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                  5820
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                            5042
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      1761
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                               928
Divulgação da atividade parlamentar                                                                                                                                                                  750
Serviços de Segurança Privada                                                                                                                                                                         44
Name: TIPO_DESPESA, dtype: int64

In [31]:
#Qual o valor total reembolsado pelo Sen. Fernando Collor
df[df['SENADOR']=='FERNANDO COLLOR']['VALOR_REEMBOLSADO'].sum()

435944.08